// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as ReferralExchange from "../../../index";

export declare namespace RetrievingReferralsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RetrievingReferralsClient {
    protected readonly _options: NormalizedClientOptions<RetrievingReferralsClient.Options>;

    constructor(options: RetrievingReferralsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {ReferralExchange.InstitutionIdType} institutionIdType - The type of institution ID
     * @param {string} institutionId - The institution ID
     * @param {ReferralExchange.ListByInstitutionRetrievingReferralsRequest} request
     * @param {RetrievingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.BadRequestError}
     * @throws {@link ReferralExchange.UnauthorizedError}
     * @throws {@link ReferralExchange.ForbiddenError}
     * @throws {@link ReferralExchange.NotFoundError}
     * @throws {@link ReferralExchange.TooManyRequestsError}
     *
     * @example
     *     await client.retrievingReferrals.listByInstitution("hci", "institutionId")
     */
    public listByInstitution(
        institutionIdType: ReferralExchange.InstitutionIdType,
        institutionId: string,
        request: ReferralExchange.ListByInstitutionRetrievingReferralsRequest = {},
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.PaginatedReferralsDto> {
        return core.HttpResponsePromise.fromPromise(
            this.__listByInstitution(institutionIdType, institutionId, request, requestOptions),
        );
    }

    private async __listByInstitution(
        institutionIdType: ReferralExchange.InstitutionIdType,
        institutionId: string,
        request: ReferralExchange.ListByInstitutionRetrievingReferralsRequest = {},
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.PaginatedReferralsDto>> {
        const { offset, pageSize, status, role, referrerId, referrerIdType, patientUin } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            pageSize,
            status: Array.isArray(status) ? status.map((item) => item) : status != null ? status : undefined,
            role: role != null ? role : undefined,
            referrerId,
            referrerIdType: referrerIdType != null ? referrerIdType : undefined,
            patientUin,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/institutions/${core.url.encodePathParam(institutionIdType)}/${core.url.encodePathParam(institutionId)}/referrals`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ReferralExchange.PaginatedReferralsDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ReferralExchange.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new ReferralExchange.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ReferralExchange.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new ReferralExchange.TooManyRequestsError(
                        _response.error.body as ReferralExchange.TooManyRequestsErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/institutions/{institutionIdType}/{institutionId}/referrals",
        );
    }

    /**
     * @param {string} referralId - Referral ID
     * @param {ReferralExchange.GetRetrievingReferralsRequest} request
     * @param {RetrievingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.BadRequestError}
     * @throws {@link ReferralExchange.UnauthorizedError}
     * @throws {@link ReferralExchange.ForbiddenError}
     * @throws {@link ReferralExchange.NotFoundError}
     *
     * @example
     *     await client.retrievingReferrals.get("referralId", {
     *         requesterIdentifier: "requester@example.com",
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public get(
        referralId: string,
        request: ReferralExchange.GetRetrievingReferralsRequest,
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.FullReferralDto> {
        return core.HttpResponsePromise.fromPromise(this.__get(referralId, request, requestOptions));
    }

    private async __get(
        referralId: string,
        request: ReferralExchange.GetRetrievingReferralsRequest,
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.FullReferralDto>> {
        const { additionalField, requesterIdentifier, institutionIdType, institutionId } = request;
        const _queryParams: Record<string, unknown> = {
            additionalField: Array.isArray(additionalField)
                ? additionalField.map((item) => item)
                : additionalField != null
                  ? additionalField
                  : undefined,
            requesterIdentifier,
            institutionIdType,
            institutionId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ReferralExchange.FullReferralDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ReferralExchange.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new ReferralExchange.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ReferralExchange.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/referrals/{referralId}",
        );
    }

    /**
     * @param {string} referralId - The ID of the referral
     * @param {ReferralExchange.ReferralActionLinkTypeV2} type - The type of action link to retrieve
     * @param {ReferralExchange.GetReferralActionLinkReq} request
     * @param {RetrievingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.BadRequestError}
     * @throws {@link ReferralExchange.UnauthorizedError}
     * @throws {@link ReferralExchange.ForbiddenError}
     * @throws {@link ReferralExchange.NotFoundError}
     *
     * @example
     *     await client.retrievingReferrals.getActionLink("referralId", "amend", {
     *         requesterIdentifier: "requester@example.com",
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public getActionLink(
        referralId: string,
        type: ReferralExchange.ReferralActionLinkTypeV2,
        request: ReferralExchange.GetReferralActionLinkReq,
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.ReferralActionLinkDtoV2> {
        return core.HttpResponsePromise.fromPromise(this.__getActionLink(referralId, type, request, requestOptions));
    }

    private async __getActionLink(
        referralId: string,
        type: ReferralExchange.ReferralActionLinkTypeV2,
        request: ReferralExchange.GetReferralActionLinkReq,
        requestOptions?: RetrievingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.ReferralActionLinkDtoV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}/action-links/${core.url.encodePathParam(type)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ReferralExchange.ReferralActionLinkDtoV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ReferralExchange.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new ReferralExchange.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ReferralExchange.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/referrals/{referralId}/action-links/{type}",
        );
    }
}
