// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as ReferralExchange from "../../../index";

export declare namespace ReferralNotesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReferralNotesClient {
    protected readonly _options: NormalizedClientOptions<ReferralNotesClient.Options>;

    constructor(options: ReferralNotesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {string} referralId - Referral ID
     * @param {ReferralExchange.CreateNoteReq} request
     * @param {ReferralNotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.BadRequestError}
     * @throws {@link ReferralExchange.UnauthorizedError}
     * @throws {@link ReferralExchange.ForbiddenError}
     * @throws {@link ReferralExchange.NotFoundError}
     *
     * @example
     *     await client.referralNotes.create("referralId", {
     *         authorHciCode: "authorHciCode",
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public create(
        referralId: string,
        request: ReferralExchange.CreateNoteReq,
        requestOptions?: ReferralNotesClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.NoteDto> {
        return core.HttpResponsePromise.fromPromise(this.__create(referralId, request, requestOptions));
    }

    private async __create(
        referralId: string,
        request: ReferralExchange.CreateNoteReq,
        requestOptions?: ReferralNotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.NoteDto>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}/notes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ReferralExchange.NoteDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ReferralExchange.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new ReferralExchange.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ReferralExchange.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/referrals/{referralId}/notes",
        );
    }
}
