// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as ReferralExchange from "../../../index";

export declare namespace CreatingReferralsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CreatingReferralsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CreatingReferralsClient.Options>;

    constructor(options: CreatingReferralsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ReferralExchange.CreateLinkReqUpsert} request
     * @param {CreatingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.BadRequestError}
     * @throws {@link ReferralExchange.UnauthorizedError}
     *
     * @example
     *     await client.creatingReferrals.createUpsertLink({
     *         referrerInstitutionId: "referrerInstitutionId",
     *         referrerInstitutionIdType: "hci",
     *         referrerInstitutionName: "referrerInstitutionName",
     *         referrerId: "referrerId",
     *         requesterIdentifier: "requester@example.com",
     *         referrerIdType: "mcr",
     *         referrerName: "referrerName"
     *     })
     */
    public createUpsertLink(
        request: ReferralExchange.CreateLinkReqUpsert,
        requestOptions?: CreatingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.ReferralUpsertLinkDto> {
        return core.HttpResponsePromise.fromPromise(this.__createUpsertLink(request, requestOptions));
    }

    private async __createUpsertLink(
        request: ReferralExchange.CreateLinkReqUpsert,
        requestOptions?: CreatingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.ReferralUpsertLinkDto>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                "api/v1/links/upsert",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ReferralExchange.ReferralUpsertLinkDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ReferralExchange.BadRequestError(
                        _response.error.body as ReferralExchange.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/links/upsert");
    }
}
