// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as ReferralExchange from "../../../index";

export declare namespace UpdatingReferralsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UpdatingReferralsClient {
    protected readonly _options: NormalizedClientOptions<UpdatingReferralsClient.Options>;

    constructor(options: UpdatingReferralsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {string} referralId - Referral ID
     * @param {ReferralExchange.DeleteUpdatingReferralsRequest} request
     * @param {UpdatingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.UnauthorizedError}
     *
     * @example
     *     await client.updatingReferrals.delete("referralId", {
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public delete(
        referralId: string,
        request: ReferralExchange.DeleteUpdatingReferralsRequest,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.ReferralDto> {
        return core.HttpResponsePromise.fromPromise(this.__delete(referralId, request, requestOptions));
    }

    private async __delete(
        referralId: string,
        request: ReferralExchange.DeleteUpdatingReferralsRequest,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.ReferralDto>> {
        const { institutionIdType, institutionId } = request;
        const _queryParams: Record<string, unknown> = {
            institutionIdType,
            institutionId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ReferralExchange.ReferralDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/referrals/{referralId}",
        );
    }

    /**
     * @param {string} referralId - Referral ID
     * @param {ReferralExchange.CancelReferralReq} request
     * @param {UpdatingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.UnauthorizedError}
     *
     * @example
     *     await client.updatingReferrals.cancel("referralId", {
     *         cancelNote: "cancelNote",
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public cancel(
        referralId: string,
        request: ReferralExchange.CancelReferralReq,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.ReferralDto> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(referralId, request, requestOptions));
    }

    private async __cancel(
        referralId: string,
        request: ReferralExchange.CancelReferralReq,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.ReferralDto>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ReferralExchange.ReferralDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/referrals/{referralId}/cancel",
        );
    }

    /**
     * @param {string} referralId - Referral ID
     * @param {ReferralExchange.BackToDraftReferralBody} request
     * @param {UpdatingReferralsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ReferralExchange.UnauthorizedError}
     *
     * @example
     *     await client.updatingReferrals.backToDraft("referralId", {
     *         institutionIdType: "hci",
     *         institutionId: "institutionId"
     *     })
     */
    public backToDraft(
        referralId: string,
        request: ReferralExchange.BackToDraftReferralBody,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): core.HttpResponsePromise<ReferralExchange.ReferralDto> {
        return core.HttpResponsePromise.fromPromise(this.__backToDraft(referralId, request, requestOptions));
    }

    private async __backToDraft(
        referralId: string,
        request: ReferralExchange.BackToDraftReferralBody,
        requestOptions?: UpdatingReferralsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReferralExchange.ReferralDto>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ReferralExchangeEnvironment.SmartCms,
                `api/v1/referrals/${core.url.encodePathParam(referralId)}/back-to-draft`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ReferralExchange.ReferralDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ReferralExchange.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ReferralExchangeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/referrals/{referralId}/back-to-draft",
        );
    }
}
